{% extends "base.html" %}

{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {% if field.widget.input_type != 'hidden' -%}
        <tr>
            <th>{{ field.label }}</th>
            <td>{{ field }}</td>
        </tr>
    {% endif %}
        {% if field.errors %}
            <ul class="errors">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</form>
{% endblock%}