<div class="list-group">
    <div class="list-group">
{% if orders %}
{% for order in orders %}
<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <a href="{{ url_for('main.order', order_number=order.order_number) }}">
            <h5 class="mb-1">Заказ {{ order.order_number }}</h5></a>
        <small></small>
    </div>
    <p class="mb-1">Общая стоимость: {{order.total_amount}}</p>
    <small>Статус: {{order.status}}</small>
</div>
{% endfor%}
{% endif %}
</div>