{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block content %}
<h2>Оформление заказа</h2>
{% include 'main/_products_basket.html'%}
<!-- Total Amount Section -->
<div class="mt-4 p-3 bg-light rounded">
    <h4 class="d-flex justify-content-between align-items-center">
        <span>Общая стоимость:</span>
        <span id="total-amount">{{ total_amount }}</span>
    </h4>
</div>
<div class="mt-4 p-3 bg-light rounded">
    <h4 class="d-flex justify-content-between align-items-center">
        <span>Ожидаемая дата доставки:</span>
        <span id="shipment-date">{{ shipment_date }}</span>
    </h4>
</div>
<!-- Button after Total Amount -->
<div class="d-flex justify-content-center mt-3">
    <div class="w-30">
        {% set form_action = url_for('main.submit_order') %}
        {{ wtf.quick_form(form, action=form_action) }}
    </div>
</div>
{% endblock %}