{% extends "base.html" %}
{% block content %}
<h2> Order {{order.order_number}} </h2>
<h5 class="mb-1">Shipment date: {{ order.shipment_date }}</h5>
<h5 class="mb-1">Status: {{ order.status }}</h5>
{% include 'main/_products_backet.html'%}
<!-- Total Amount Section -->
<div class="mt-4 p-3 bg-light rounded">
    <h4 class="d-flex justify-content-between align-items-center">
        <span>Total Amount:</span>
        <span id="total-amount">{{ total_amount }}</span>
    </h4>
</div>
{% endblock %}