{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block content %}
<h2> Order {{order.order_number}} </h2>
<h5 class="mb-1">Дата доставки: {{ order.shipment_date }}</h5>
<h5 class="mb-1", id='order_status'>Статус: {{ order.status }}</h5>
{% include 'main/_products_basket.html'%}
<!-- Total Amount Section -->
<div class="mt-4 p-3 bg-light rounded">
    <h4 class="d-flex justify-content-between align-items-center">
        <span>Общая стоимость:</span>
        <span id="total-amount">{{ total_amount }}</span>
    </h4>
</div>
{% if order.status.name != 'Отменён' and  order.status.name != 'Завершён' %}
<div class="d-flex justify-content-center mt-3">
    <div class="w-30">
        {% set cancel_form_action = url_for('main.cancel_order', order_number=order.order_number) %}
        {{ wtf.quick_form(cancel_form, action=cancel_form_action) }}
    </div>
</div>
{% endif %}
{% if order.status.name != 'Подтверждён' and order.status.name != 'Завершён' and current_user.role.name == 'admin' %}
<div class="d-flex justify-content-center mt-3">
    <div class="w-30">
        {% set confirm_form_action = url_for('admin.confirm_order', order_number=order.order_number) %}
        {{ wtf.quick_form(confirm_form, action=confirm_form_action) }}
    </div>
</div>
{% endif %}
{% if order.status.name == 'Подтверждён' and current_user.role.name == 'admin' %}
<div class="d-flex justify-content-center mt-3">
    <div class="w-30">
        {% set finish_form_action = url_for('admin.finish_order', order_number=order.order_number) %}
        {{ wtf.quick_form(finish_form, action=finish_form_action) }}
    </div>
</div>
{% endif %}
{% endblock %}