{% extends "base.html" %}
{% block head_container %}
<style> @import url("{{ url_for('static', filename='css/profile.css') }}") </style>
{% endblock%}
{% block before_body_scripts %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="profile-card">
                <span class="corner-text">
                <a href="{{ url_for('main.edit_profile') }}">Edit</a>
                </span>
                <p>Username: {{ current_user.username}}</p>
                <hr>
                <p>Email: {{ current_user.email }} </p>
                <p>Name: {{ current_user.first_name }} {{ current_user.last_name }}</p>
                <p>Phone number: {{ current_user.phone_number}}</p>
                <p>Address: {{ current_user.address}}</p>

                <hr>
                <div class="profile-info">
                    <p>{{ current_user.about_me }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}