{% extends "base.html" %}
{% block head_container %}
<style> @import url("{{ url_for('static', filename='css/profile.css') }}") </style>
{% endblock%}
{% block before_body_scripts %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="profile-card">
                <span class="corner-text">
                <a href="{{ url_for('main.edit_profile') }}">Изменить</a>
                </span>
                <p>Имя пользователя: {{ current_user.username}}</p>
                <hr>
                <p>Адрес электронной почты: {{ current_user.email }} </p>
                <p>Имя: {% if current_user.first_name %} {{ current_user.first_name }}{% endif %} {% if current_user.last_name %}{{ current_user.last_name }}{% endif %}</p>
                <p>Номер телефона:{% if current_user.phone_number %} {{ current_user.phone_number}} {% endif %}</p>
                <p>Адрес:{% if current_user.address %} {{ current_user.address}} {% endif %}</p>

                <hr>
                <div class="profile-info">
                    <p>{% if current_user.about_me %}{{ current_user.about_me }}{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}