<div class="container-fluid">
  <div class="row">
<!-- Sidebar -->
<div class="col-md-2 sidebar">
  <h3>Панель администратора</h3>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('admin.products')}}">Товары</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Заказы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Пользователи</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Настройки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('main.index') }}">Выйти из панели</a>
    </li>
  </ul>
</div>


    <!-- Main Content -->
    <div class="col-md-10 main-content">
      <!-- Top Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.profile')}}">Профиль</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">Выйти</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>