{% extends "admin/base.html" %}
    {% block content %}
     {% include 'admin/_nav.html'%}   
        <!-- Page Content -->
        <h1>Панель администратора</h1>
        <p>Здесь вы можете настроить работу магазина.</p>

        <!-- Data Cards -->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Товаров</h5>
                <p class="card-text">{{ products_amount }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Заказов</h5>
                <p class="card-text">{{ orders_amount }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Пользователей</h5>
                <p class="card-text">{{ users_amount }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
